.container{
    background: #192C3E;
    font-family: sans-serif;
}
.innerbg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    background-color: #8EA7B4;
    border-radius: 4px;
    overflow-y:auto;
}
h1{
    text-align: center;
    
}
form{
    text-align: center;
}
input{
    box-sizing: border-box;
    width: 200px;
}
.gradeSlide{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 9%;
    width: 90%;
    background-color: #afbcc4;
    border-radius: 4px;
    text-align: left;
    font-size: 24px;
    font-family: sans-serif;
}
.grade{
    text-align: right;
    margin-top: -2%;
    margin-right: 1%;
}
.assignment{
    margin-top: 2%;
    margin-left: 1%;
}
h2{
    margin-left: 15px;
}
h4{
    margin-left: 15px;
}